.app {
  width: 400px;
  margin: 0 auto;
  font-size: 1.5rem;
}

h1 {
  color: #fff;
  text-align: center;
}

input[type="number"] {
  width: 100%;
  border: 1px solid #000;
  box-shadow: 0px 0px 2px #fff;
  font-size: 2rem;
  text-align: right;
}

button {
  flex-basis: 15px;
  border: 1px solid #000;
  box-shadow: 0px 0px 2px #fff;
  font-size: 1.5rem;
  margin: 2px 1px 2px;
  align-self: stretch;
}

button img {
  height: 15px;
}

hr {
  color: #fff;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.account .result {
  display: flex;
  width: 60%;
}

.account h3,
.account p {
  margin: 2px 0;
}

.account h3 {
  width: 30%;
  font-size: 1.5rem;
  color: #fff;
}

.account p {
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 0px 0px 4px #fff;
  font-size: 2rem;
  text-align: right;
  padding: 0 2px;
}

/* to remove the arrows on the number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
